    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
    body {
        font-family: 'Poppins', sans-serif;
    }
    /*Main header*/
    
    .navbar a {
        color: #fff !important;
        font-weight: 500!important;
    }
    
    .navbar a:hover {
        color: #999!important;
        font-weight: 700!important;
    }
    
    #navbar {
        justify-content: flex-end!important;
    }
    /* Message */
    
    .msg-container {
        padding: 0;
    }
    
    .msg {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        border: solid 1px #000;
        text-align: center;
    }
    
    .msg.error {
        color: #842029;
        background-color: #F8D7DA;
        border-color: #F5C2C7;
    }
    
    .msg.success {
        color: #0F5132;
        background-color: #D1E7DD;
        border-color: #BADBCC;
    }
    /*Logo*/
    
    .main_header_logo h1 a {
        font-weight: var(--weight-normal);
        color: #ffffff;
        text-decoration: none;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
    /*nav*/
    
    .main_header_nav {
        display: flex;
        align-items: center;
    }
    
    .main_header_nav_links {
        display: block !important;
    }
    
    .main_header_nav_links .link {
        display: inline-block;
        padding: 6px 12px;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: var(--weight-bold);
        font-size: var(--font-small);
    }
    
    .main_header_nav_links .link:hover {
        background: rgba(0, 0, 0, 0.5);
    }
    
    .main_header_nav_links .login {
        background: var(--hover-color-blue);
    }
    /*mobile*/
    
    .main_header_nav_mobile,
    .main_header_nav_mobile_close {
        display: none;
    }
    /*CONTENT*/
    
    .main_content {
        min-height: 75vh;
    }
    /*home featured*/
    
    .home_featured {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
    }
    
    .home_featured:after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: var(--index-back);
        background: url("../image/home.jpg") top center no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .home_featured_content {
        padding: 80px 0 0 0;
    }
    
    .home_featured_header {
        width: 660px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .home_featured_header h1 {
        font-size: 3em;
        font-weight: var(--weight-bold);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    }
    
    .home_featured_header p {
        margin: 30px 0 50px 0;
        font-weight: var(--weight-normal);
        font-size: var(--font-medium);
    }
    
    .home_featured_btn {
        cursor: pointer;
        display: inline-block;
        padding: 20px;
        margin-bottom: 100px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: var(--weight-black);
        color: #ffffff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }
    /* Edit-Profile */
    
    #main-container {
        width: 50%;
        margin: 20px auto;
    }
    /*home features*/
    
    .home_features_header {
        text-align: center;
        margin: 20px 0 40px 0;
        color: #555555;
    }
    
    .home_features_header p {
        margin-top: 10px;
    }
    
    .home_features_content {
        display: flex;
    }
    
    .home_features_content article {
        border-top: 3px solid #ffffff;
        flex-basis: calc(50% - 50px);
        margin: 20px;
        padding: 40px;
        text-align: center;
    }
    
    .home_features_content article.active,
    .home_features_content article:hover {
        border-top: 3px solid var(--color-blue);
        -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    }
    
    .home_features_content article img {
        width: 60%;
    }
    
    .home_features_content article h3 {
        margin: 20px 0 10px 0;
        font-size: var(--font-medium);
        font-weight: var(--weight-normal);
    }
    
    .home_features_content article p {
        font-size: var(--font-small);
    }
    /*home*/
    
    .formulario {
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 12px;
    }
    
    .formulario input {
        border: solid 1px #aaa;
        text-align: center;
    }
    
    .cabecalho {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        width: 50px;
        margin-bottom: 10px;
    }
    
    .logo-pdf {
        width: 60px;
        margin-bottom: 15px;
    }
    
    .tb-1 {
        width: 100%;
    }
    
    .tb-1 table {
        width: 100%;
    }
    
    .tb-1 td {
        padding: 2px;
    }
    
    .tb-2 {
        width: 100%;
        font-size: 10px;
    }
    
    .tb-2 .align-center td {
        text-align: left;
        text-align: center;
    }
    /*col-md*/
    
    .col-md-12 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .col-md-6 {
        text-align: center;
        justify-content: center;
    }
    /*Main Footer*/
    
    footer {
        display: block;
    }
    
    .web_footer {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        /* margin-top: var(--area-box); */
        font-size: var(--font-small);
        background: var(--hover-color-green);
        color: var(--color-default);
        min-height: 13vh;
        padding-top: 5px;
        margin: 0;
    }
    /*NOT FOUND PAGE 404*/
    
    .not_found {
        text-align: center;
        color: #555555;
    }
    
    .not_found .error {
        font-size: 8em;
        font-weight: var(--weight-light);
        color: #cccccc;
    }
    
    .not_found_header {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .not_found_btn {
        display: inline-block;
        margin-top: 30px;
        padding: 20px 40px;
        color: #ffffff;
        text-decoration: none;
        font-weight: var(--weight-bold);
    }
    /* LOGIN */
    
    .auth_content {
        color: #555555;
    }
    
    .auth_content a {
        font-weight: var(--weight-bold);
        color: var(--color-blue);
        text-decoration: none;
        transition: var(--hover-duration);
    }
    
    .auth_content a:hover {
        color: var(--hover-color-blue);
    }
    
    .auth_header {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .auth_header h1 {
        font-size: 2.4em;
        font-weight: var(--weight-light);
    }
    
    .auth_form {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .auth_form label {
        display: block;
        margin-top: 30px;
    }
    
    .auth_form label div {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        justify-content: space-between;
        font-size: var(--font-normal);
        font-weight: var(--weight-bold);
    }
    
    .auth_form label input {
        color: #555555;
        display: block;
        width: 100%;
        font-size: var(--font-normal);
        padding: 15px 20px;
        outline: none;
        border: 1px solid #cccccc;
        border-radius: var(--radius-medium);
        -webkit-border-radius: var(--radius-medium);
        -moz-border-radius: var(--radius-medium);
    }
    
    .auth_form .check {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 20px 0 30px 0;
        font-size: var(--font-small);
        transition: var(--hover-duration);
    }
    
    .auth_form .check:hover {
        color: #000000;
    }
    
    .auth_form .check input {
        width: auto;
        font-size: var(--font-large);
        margin-right: 10px;
        display: inline-block;
    }
    
    .auth_form_btn {
        display: block;
        width: 100%;
        border: none;
        padding: 15px;
        font-size: var(--font-medium);
        color: #ffffff;
        font-weight: var(--weight-black);
        cursor: pointer;
        -webkit-border-radius: var(--radius-medium);
        -moz-border-radius: var(--radius-medium);
        border-radius: var(--radius-medium);
        margin-top: 30px;
    }
    
    .btn {
        color: #ffffff !important;
        display: block;
        border: none;
        padding: 8px 40px !important;
        font-size: var(--font-medium);
        color: #ffffff;
        font-weight: var(--weight-black);
        cursor: pointer;
        -webkit-border-radius: var(--radius-medium);
        -moz-border-radius: var(--radius-medium);
        border-radius: var(--radius-medium);
    }
    
    #main-container {
        padding: 20px;
        color: rgb(0, 0, 0);
        background-color: #75c594;
    }
    /* Register */
    
    #register-container {
        width: 50%;
        height: auto;
        margin: 20px auto;
        padding: 20px;
        color: rgb(0, 0, 0);
        background-color: #75c594;
    }

    #fade-container {
	    background-color: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100vw;
	    height: 100vh;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 1;
}

.load {
  width: 200px;
  height: 200px;
}
